.android
.bash_history
.buildroot*
.cache
.cargo
.clangd
.cmake
.config/Auryo
.config/asciinema
.config/BraveSoftware
.config/discord
.config/Electron
.config/eog
.config/FreeCAD
.config/GIMP
.config/git/gitk
.config/google-chrome*
.config/gtk-2.0
.config/KDAB
.config/libreoffice
.config/menus
.config/mimeapps.list
.config/nautilus
.config/nvim/.netrwhist
.config/Postman
.config/qBittorrent
.config/Qt*
.config/skypeforlinux
.config/sqlitebrowser
.config/spotify
.config/Soundnode
.config/teamviewer
.config/totem
.config/vlc
.config/zoomus.conf
.config/Unknown\ Organization
.dboard
.debug
.FreeCAD
.gnupg
.ivy2
.java
.launchpadlib
.lesshst/
.local/bin
.local/include
.local/lib
.local/share/*/*.db
.local/share/*.db
.local/share/*.js
.local/share/*.json*
.local/share/*.list
.local/share/*.sqlite
.local/share/*.txt
.local/share/*/QML
.local/share/*/QtWebEngine
.local/share/app-info
.local/share/applications
.local/share/cache2
.local/share/CMakeTools
.local/share/compatibility.ini
.local/share/darling
.local/share/data
.local/share/datareporting
.local/share/desktop-directories
.local/share/evolution
.local/share/flatpak
.local/share/fonts
.local/share/gvfs-metadata
.local/share/hicolor
.local/share/icc
.local/share/icons
.local/share/keyrings
.local/share/mime
.local/share/minecraft
.local/share/nano
.local/share/nvim/shada
.local/share/nvim/*log
.local/share/org.kde.syntax-highlighting
.local/share/OfflineCache
.local/share/pkcs11.txt
.local/share/Qt
.local/share/qutebrowser
.local/share/zathura
.local/share/qutebrowser/webengine
.local/share/recently-used.xbel
.local/share/safebrowsing
.local/share/saved-telemetry-pings
.local/share/session*
.local/share/settings
.local/share/shotwell
.local/share/sounds
.local/share/startupCache
.local/share/storage
.local/share/Steam
.local/share/teamviewer*
.local/share/tracker
.local/share/Trash
.local/share/vlc
.local/share/webkitgtk
.local/share/wine
.local/share/xorg
.m2
.mozilla
.minecraft
.npm
.parallel
.pki
.python_history*
.thunderbird
.vscode
.var
.wget-hsts
.zoom
egpu-switcher
kbdBrightnessCtrl
Car-Evolution
GameEngine
.AMD
.adobe
.sbt
.scala_history*
.steam
.steampath
.steampid
.ssh
Documents
server
Desktop
Downloads
Pictures
*gnome*
snap
Telegram*
Logisim
Umlet
.config/UMLet
